html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;font-style:'normal';}
b,h1,h2,h3,h4,h5,h6{font:inherit;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}

/* basic */
html,body{ margin:0; padding:0; }
input{ outline: 0; color:#c4d0d8; }
textarea{ color:#c4d0d8; }

i, cite, em, var, address, dfn {
    font-style: normal;
}

a {
	text-decoration:none;
	color:#7e7e7e;
	font-size:12px;
	font-family: 'arial','微软雅黑','Material Icons';
    font-style:'normal';
}
html{
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling:touch;
}
body {
	color:#7e7e7e;
	font-size:12px;
	font-family:'arial','微软雅黑','Material Icons';
	background:#fff;
    font-style:'normal';
}
input,textarea{
    font-family:inherit;
}
img {
	border:0;
}

.fl{ float:left; }
.fr{ float:right; }
.clear{ clear:both; }

.block{ display:block; }

.pd10{ padding:10px; }
.pd15{ padding:15px; }
.pd20{ padding:20px; }
.pd25{ padding:25px; }
.pd30{ padding:30px; }
.pd40{ padding:40px; }

.mb10{ margin-bottom:10px; }

::selection {
	background:#42d6c3;
	color:#fff;
}

::-moz-selection {
	background:#42d6c3;
	color:#fff;
}

::-webkit-selection {
	background:#42d6c3;
	color:#fff;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(MaterialIcons-Regular.woff2) format('woff2'),
       url(MaterialIcons-Regular.woff) format('woff'),
       url(MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

::-webkit-input-placeholder {
	color: rgba(196,208,216,.6);
}

:-moz-placeholder {
	color: rgba(196,208,216,.6);
}

::-moz-placeholder {
	color: rgba(196,208,216,.6);
}

:-ms-input-placeholder {
	color: rgba(196,208,216,.6);
}


.table{
    height: 100%;
    display: table;
}
.cell{
    display: table-cell;
    vertical-align: middle;
}



@font-face {
  font-family: 'PierSans-Bold';
  src: url('PierSans-Bold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PierSans-Bold';
  src:  url('PierSans-Bold.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAACZkAA8AAAAAPrgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAmSAAAABwA
AAAcajDcTEdERUYAACWEAAAAHwAAACAA1QAGR1BPUwAAJcQAAACBAAAAmK/nwQNHU1VCAAAlpAAA
ACAAAAAgRHZMdU9TLzIAAAHMAAAAUQAAAGBmhISvY21hcAAABAwAAAHAAAACSmqQynhnYXNwAAAl
fAAAAAgAAAAI//8AA2dseWYAAAcgAAAa7wAALpxwuGGLaGVhZAAAAVgAAAA0AAAANgyU4lFoaGVh
AAABjAAAACAAAAAkB2cDb2htdHgAAAIgAAAB7AAAAqBvIhN8bG9jYQAABcwAAAFSAAABUsrPv1Jt
YXhwAAABrAAAAB4AAAAgAO8AUW5hbWUAACIQAAACQgAABYXGer/qcG9zdAAAJFQAAAElAAABf+da
MNJ42mNgZGBgYGRwfGZbZBvPb/OVgZv5BVCE4cqD89Iw+v+O/+zMv5nfAdVxMDCBRAGJdA6eeNpj
YGRgYHr5n5HhBAvb/x3/9zP/ZgCKoIAVALJuB9t42mNgZGBgWMHgx8DKAAJMQMzIABJzAPMZABwC
AUEAAHjaY2BmsmTaw8DKwMLUxRTBwMDgDaEZ44BYg4GBiYGDlQVEMQPlQBgO/Pz9XBkUGBSUhJhe
/mdkOMH8hFEEKMwIkmN8x/QOSCkwMAEA0mkLFQAAAHjaTZJNSFRRGIbf7z3a2I+0amYchabJSibr
MkozWoYzTCUUkxWRumsTibRo06bAFrWRgqhNRFgtCqFdmxgIXEQ/q4SokCiQsggLF5aN1Ob03mlz
Lzx853AP5/3Ow2fLaIU+q4hOUcaATaHFvcRRXsdGN4lmfsI6/EXCziJvl/28FdHADEqYhmMSJXNI
WxVNnMKwPcQor+Ec72I3L+EwL2CMN3GGp9Gv/SAvYhhLiFszMvYF7eE99boFKfcGGT7287yKvDNl
J9HH+yhzHGU3igTnkLMC9nIMW10PjnAIgfuJfncAg66oPp9inxtHllVlP8AGDvlFfsRm3vG1hlX+
B5/7Gh/511xAxQLsskm/YoH/ZssoshdrVXuYQpwn0c1NSHO/1gNotwm0ckT7g+iyRmRtu59hBd3W
hKy7raxedPCQ+htBnqf0tvP69w5Ju6ceKsgx5lf4x/+27/4rd3pvNXTaLAo26xcYoI0TflrZx3hL
WX1o1LoklpSVxnudeYITdS8RQj+8ITcRrOA/hH5UZ8Rc6CSKPAd1H1GuoIvr1WeUNr01L585kf+P
xfwziyFQrYpXPK73RtkjBxFs0b8NXYduBZhAib80MzXN0RrxGSl7gRTjaLEd8rgaadeBba6ks5qp
+kxqHv8B2YWaiHjaY2BgYGaAYBkGRiDJwOgC5DGC+SyMGkDajcGBgZWBjaGaoZZhMcNShhUMqxk2
Mmxh2MGwm+EQwxGG8wxXGK4z3GF4xPCE4T3DF4ZvDH8Y/jNWMB1juqsgoiCpIKegpKCmsEaJTUno
/3+geQpI5mwAmrMdaM4BoDnHGS4xXGO4yXAfaM5zhk9Ac37CzRFWkFCQQTbn/+P/j/7v/b/n/67/
O/5v+b/p/4b/6/6v+r/y//L/S/8v+b/4/8L/C/7P+z/n/+z/M/9P/y//99LfPQ/aH7Q8aHpQ/6Dm
/vd78+5NhviXGoCRjQFuGCMTkGBCVwAMYhZWNnYOTi5uHl4+fgFBIWERUTFxCUkpaRlZOXkFRSVl
FVU1dQ1NLW0dXT19A0MjYxNTM3MLSytrG1s7ewdHJ2cXVzd3D08vbx9fP/+AwKDgkNCw8IjIqOiY
2DiGeAaGXIa8Aoaq+qbG5hYGhtb2to7O7q6eXob+vgkTGSZPmjKVIYUhgWEhQwPQNWlJIDelMjAk
YvhkSXLmIoYsEGvW7Hnz58xlYJg2HRhbIJDOsIAhpzC7KL+ktKy4opKhvLauhmEGWCpjJgMDAO8Y
nL8AAAAUABQAFAAUAC4AXACOAP4BRAGQAaoByAHmAggCHAI2AkQCWgJoApYCpgLWAvwDFgNCA2oD
fAO4A+AEBgQuBEAEVARmBKQE/gUYBUoFcAWSBaoFwAXsBgQGEgYuBkoGWgZ4BpAGtAbYBwoHMAdu
B4AHrAe+B9wH+AgQCCgIOghICFoIbAh4CIYItgjkCQYJMAlWCXoJsgnSCe4KIgo+CkwKeAqWCrgK
6AsWCzILcguUC7QLyAvkDAAMJgw8DIAMwgz6DR4NPA1WDXoNlg2kDboN3A34DhoOPA5iDpQO1g70
DxIPNA9kD3gPjA+kD8gP8hAcEEwQiBCiENQRBhE8EYARwBH2EiwSZhKuEuwTGhNIE3oTuBPME+AT
+BQcFEQUbBSYFNAU9hUcFUYVfBW6FegV+hX6FggWFhYuFkYWcBaaFsYW2hcMF0AXQBdOF04XTgAA
eNqVWglAVNe5vv+5MJd1mGE2YIaBYWCGfZntogiyuiuCQBUSkcSIyiIqmkhVTBSt1ZhoIJJoLCRp
qWZpli5JfW3z6jNak2eX5CVtrSnZtGkbbPuipq/hzvvPuQPMsKStyZ2FOef7zzn/9//nO/+9HOGM
XjVcIiMczwkcZ1Bb1ClOtdUI35Feef/9G/zVL6yreQvHEW6+9xb3N9YunOM0vJWP1iqSbC6P428R
j0QM5Zbn5JSTkdG3SebotuKsrOJM2icWXobXyUUukjNiH60gClbR5nZ5nA69IeDbe2porEtL8NhT
PX9Qw5ra1ATRliqSjngDfL3LZE9xOlOMsfgx3oYfOY5iV3Ecv5L0IXICx4FVcOqsiMcut5NdToFd
wfhHfuULiTuedT/h7nCfyr/jSOJXvi6ezN+cfzJ/t/RIYocZttQcPob/DtccPo7/hmtqqA2eS/Ae
IB18M6dCG0vpDAxus2BwKwSFxp4dbNd5RI/bxVvdNrtoJga9wZ1N7Dgj0SO6nTq9QbDZbXYd/UWn
FZxKED7mSVCQEBQWFEkSI0OuCURQRAZrSIoqeHbnoY6OkMhgyCx3lM6LiohxHOrcua41JiQlTyxa
qIpUg6FlITEpQyE4JFjBK4gCDkcYVdIPQxThQigJg36VNUoZLZ3cEr1jU6QhBHI1F1SmAnuS1Zmz
Rtt5n6GjNSkkXftidOyc9PjMdLt7QSQXzEV6vXwD+jSUi+bMXCqHTtMkKbR6p8PjygaHXquwoosh
SaFjf3O7bPaxP3p4Kzh/pjUatRqTqelke1vlsnZyFD9rtCaTtrK9vXJZW9u7p0B3krQkppvN6Yl7
W/tbWvql9WadPiFBrzPva+lvxT9Jx3AAuNYR3tvkCrnFWbh0zsFxFqtdYc0GpMcYR3TaKFAGCQaP
aFAIHB0mHZHGLg+OXLmUWvnA5hMFDvOmyuXt6TxRhEVGh3WE8sdDMqUriTpdon7B97LKcz2Zbjje
UdJpy5q1bH1zZanI84qwsIjgnSkqY10J/MqYiuPXSAsv2UrcSzngDPAy9zvG4UkM/p1MVOQsEpWx
kxEVych5vJXwAD+fi+K4aK2ZNwjJqhSDkv8fS9qs+Mgy6TaElkXGz0qDvmN7qyriQu87S/a9uj00
bt5yDrwfYt8cX19XNm8Xg1TB9iL+IexrVJZCmHSrVGnEvvyxvcvnx4Rtf3V059n7wmLmY18uCJ4H
B/mUU+MgdHaDYBfsouA22EWDaBDAcdey+rTk1UuampbeaU+tX0oOrNdWudaudS/XrtfOd9bVueYh
RgnXCBfgCo3yFKvO6sZIQjI74cKeA93dB/a81929u7sb2/HePu4i9wxdFzFgXS76YhkDuHosfl0u
jmPYbyD2QvQ2js/ihgtSFyzcvZv9lui9zV3lTnNhFA8ziwx2VVzuEXGFq2wuly2ZwWDbEHx5heUi
zok0/OYToD1JWUTzwkrk0VbkEcs50Q59AghKQMba3R5kk82apIgHxuabwycB/53Y3EHf7y/Pyy0v
z80rJ7f62uF2R29vx+1N0qkbrrIy1w1XeTmzux5fNqOhYOSCRW1VW9dD6MAGTHvRZAP9fRsOoIXc
xljiUpw4QY+YTE3aBDtmCswPyGGlAjZ/IhmDwqAyK21FYq+hcV7VljJXlMZu8sQV9vT08Ip3n0wV
FZ2JncXZvKK6rNZcmDcnZXbcLMSfjXNbj/b1aEwwg46Fol1k8Wqz08xH1v+wrOrJbeXd2Q86HK6F
pc59z5wjI1Ly/Us2H19YNMdRvm4x+WQ/Xadl+NKJWGHUgxarG93hVGMSTXG6iTgg/QCWnSgslK51
nd0Al6Tqnp5n0f5G7+dkDfaJQ/sePTOP1g16lhlsglVt0Vl1Hmhe98hT7fuadqQ781Y4cubG74Fj
fzUSNRzuaT/xQH1ZiGK+6CkLFixwsOceFR1LK+IeQNwIv5lRBohGoDOz0mAnIbtbjp384AnbxcTc
iorcnIoKMvKe8ERbx/HjHRUVcM/ow0s2Ll26cQn1w1wEPTrmJ7CCpZKUSqtfgHrp+z5n8VwlruVG
5Ek0Z+Js2Ekr6Mes+rjnS4RoXjMxCqO5DQfRYuqoXNYxkqBWJSSo1GqZOeXEk59TtYcOqLs6J395
x+Y5tvh4m0lKKltfXr6+zMdPfNmKHJHnqhV4q8jSnEMfNG6PbE2+9OxONl1pd0UOmy/cmF8mnbgq
nGrr6O8v2LhkCZ0q4ukxbt6Cd9GPepqh5OSMo1ezj/JM3hJT7SINo7F32G1zuRe5XNLzfnFFuCSM
6esMK2YSln+AXx9DmQj0cbzv+EU8cMnea/AiqeUUGNNu0AkGXTI8+NFHN6sg6tTjj51iNku4lZgT
Tsv6g2aF4LHMsB+v07t3v0UTRAAW6MAt2t3worT1ww9hXpX011OPPX4KseK8n5IIYkEk9GiyT5+I
VptHLCKiBxmqELQGu2s8FkFQwNrc8uzs8owTEBUTtyBBUDqzHIVA+jesbNvksuTWR0fXMzkzZ84i
U0J5enxhgkkbszgiMqpnXkFU1ArnvKzld8cZ2dqV88fIi7iXIvtSxgkDaupVlniURKdFww7cv6xJ
2SC6ioBta0pCo3h8sQ1uuOgqLnHmlpVBgk5TNnTC2b6h7M67BtJNmwq6drz7ANlzecvZm+q02tm5
9cr8vI4nnuiImxW5sXZnbV1XHRyTOpQ5l77xkm1xT80jd97Fh5fmbv/5jq0XO7941bG+Y57Lbhr8
YCBWjQ4m3g/x5WWME4Fm3VCw2lE+Ae+0Qze4ni30FjwH7rjHl9KQefhhzCL2X6OXPNinjsWqjuY5
X9xYLWqLQx+scxaxJKuWxYJVR3IyVxy6W7oMjhWd0lCfUm9QJWZlJPSR5PKCBe13HyYj26MOBaXF
mtIkU1FmRiF5m/o6AWPzIsYmMjrFME5jg5ANVp88IXdu3PbS4PDw4EvbWxPWzmras6cpd+VHG/de
ferJq/tanfmPXjyeIXN6Dr68y+aIqYZTKQQcqZ5nw7Rb1eTdd/qltyCr/7FV27evOkyipUtXgIzA
aD8ca1z9CEgmOh4MXdKEGLgnihYdAujYfx/C7tEPSITUC+nSOz09ZKRncD831n4Z01UcsJa4V1jI
MqkP0qR3B0g42fBcj/QzumOhvvDe5mNxrtQQtnNPnq4svUQrnIO6gXt2ynPeENeW39Td3bRkl+p5
eFWaX7KITXxDVsGja+95dCPVLXk4hn3ymDGxo328nGoLfDQwIH06MAAa6lZwSW+iY9/E9oU48qvy
nqrBplcHWKYcYfOxoT/s+FnFsJCwSdnE7dQir2H/YNys5sPNs4wDTY2IFOKoW5yZW9XoOdqF/Zaj
sLPJYwglVhDYEIC3SQeh5R3pb/NwGJXY6ZxUCUtnS5/ixw/AjP1ycOxhcv5m6+38BcyWUgbpEnO+
/M4PMA5ygJh4GKHIocAPDAw3DQ88C0EQxKb3fWkRvRA4CL6QtUMlYl/3+UZtpd2doCbXn5G+O3gG
GNfhz5IWe2jgU8qfSPRPFPonlNNgjzF1bEtOpLRPRFfBkTX3378GGShJUDo8LP14mGw+/nr/8YuP
9lx98qmr6BjGQ1QQpIftt9E0ahQCiiu1xQxsh8vAIfQMbnlwELK3DEp/ogn/ELy97Wn4IXLxm9Lt
lV0rpXdkPqd7f8QX43iimMoQ7BNZHg8ZwQ4RxR6NPUYcvnjd3Uu6B99/f3Dg/SrpF3NT72m+w9j9
0z0749e0Oihjrj65f2N4bFvjusK5ax99dO2aE7KN2fiCAY/KQCeP1YCpQR5uilreo8jOJSWD3z14
3yBkdQ5KjYfyKiry4Oqy3daRN5FRcDJG+sPy+6gm1SF31uF40xDJzI9JFjM4WYbI5gO5bibQ6F5W
lTm4585DJR26ds+exUXOxcszH9s4dH9r0l35abMN2Vb4sSpJrHZtbJ8/b1PmYlKVmaeJsngqnU3t
R1qzFqTY9EmxSuprL3VgMYt93DOsVLC5SfFvBn+DkTp6nGzooXyw4vjoXE0+bvOYm3k38hSFu6OI
d8ONQWVa6ZbFi7aWpisH+GjznOVz4tU8EqQwbWnd3LS0uXVL0+CcVKhK8qSZzan5iWpm+xbapqJU
QdUVOI3ghK+ulX7/zOmhZ7CvG97ANn9CHv9D5rGvDW1m5aFmtXTz270nG0/0nZZuNp7CDovhe9IS
+C6y87vcOP4r47FlF6yh4DSI5BXpC+BfHfrWWQiW/nF2aAi7HpAO3bgB2+G+v/wF+/0S+72H/aiG
dlL6g1NDzK9JlwalS6+9js1nS7+GVHhd+qUcL0t9eSSU7bsWujlb3GSfdAB2jP4MuqT9ZOSglNhz
EIZ7WHu3txHwuMKqCU6WK63/s4EeeTaYeoJyWRtULBwMybmGzhuGTkkjJ+TY9l73NnJ/lfsLmLfc
iBC7YQM995h4W88/fkFtFBMTnCPDTAsY6NxFmLfrYH7+17vJ8H/Nm/dftE249wESz07xHB00iR8d
QSEBXD72zSN/ZGcQq12EvP1bDxPTgfmylvo7vAW3kPUJmAXtLKjklIwsLQC6iRvcyFMDzQFPtVft
at7Qmzrv7L33LLUlzur+ijk5SJGfmQF3zG24s1gasqb3VzaaLL/JTDHZbCyunKhzU8k7mEfxbAIO
vS8adDQtFoGGbZqyahBbe460xZWE9/ZGLBRySktzcouL4ebDm9ofjlVZyDvSTXWstLVmdkFN/cZV
nO/89Dn8L9zktGN7phxXtrEtBA6tr97Vdvx4267q9cYlOSUlOcteXN1w9LfHGlbPXTx71mJ5/p+j
fqLjQ4UvympETZ3ATlCecX2q72k1Lozo64ucG9d2pK80O7d4bl72rU0Px6ghbDTdoo55+PT2Fas2
1lPMZMSMx3Gp2G6us1AQ0TdAVAxOOkASLw1U2Kstd5cfu/fIwWtfl576aUSd3XHLkja7sOGOI8MP
HXEtsOMc6ao1kN9zBspFpqjiwekLbCdLJNCgT4s2hPHbtvWK4so1NnJ+m1adaNQYuqTD0Nll6FxH
x5ToFYgO/RzDJctRr0hiKQkdwGYqz5wf8weuH9zf+8hHDRtis+OdhZHFsa1HjrQaiyPuzC0pzssu
LYURybLpsXsabcmNpTj53x2NUUsn6t2eVTUFs2tx3A40KuC6quX9ioLq2F5I7RCh15rR2Nur27yu
FuKkaxA329EqXUMnv1/U7Mv5+HqBnEfOKuXdWZzQ5ud6+7OSErOzE5OycBjRMHIkMSOzKD2d6rvL
3oXcdewXwlmYnpfXHNxmweF0FBGW5SjQ9azS7OzSLOk6RJCwoFAhLFwIUUVH9C5ZmJ5Edsp4X7y5
H0JAgVsrUUQlxeCh0NPZHCJzz4nGnDg/HJ3FriQCI7ToFDSwY4AEh5C+viNXb9x4gwQpyI9wXid3
XpR+S/vRef2E/GFMc/ykj/xhNAa/099wD+KrkDfxNEeML9n40ukouz0ixhBf1WdNb8RrTW+va0Wj
y9HVXOdbw7G3kSxXWaGiuZPipuLLKOJO9gUF1MOo7AtxWbPPF7OcDCDH04x+MCCXE7FvCN3DOUYM
DIiJmhgsWl1Ssrp0c/vx4+0YavBVGliLOs8f++1RDDTZlx5vDMlEDHn/lhPAuH2B8U1Q0IMCVbmZ
+1tjFqh6e61lbQ/1leaYXFEqlXVOTumtTQ/FqqTb5B1r+tH2ghqbOdmemlReI8dwDIlg8YY7WvCY
NjC4qQZUAu9XywOBJhljcXhfX/iisSQT8tCmdqRv0mg6hKpi4UFkcM0qt6thzM9wL2Ir6Sl9fOHo
MQbu1ZoTcOEi55py4PqmyE3SH2EkM8Yo8yMGc9O3sV86ZaE5yK9wIHqyeSYCisi4Cng+Jb84P2Xr
V1oamnLdMbYgPlSniwtKyZ0Vb59TENu+co22wKBOgOpIXYTe5ElZVNvQNDuYqCLCVSGKIAjXJrut
aSVJ6vo1cVa1bF+H9mvJTpo3RJQYmIB0dN0LwVfc0lmHSWiMJj4pM+WuOlHs3bbtV1p9cnRsV+xd
9z3ZdeQI1bJ56HsFjFDPizRu6KluIjfm9San4/S1S63NdW9T5iDx8C06K9bUzI3veZ8D23ctVt6p
KQLRCWlNv3xsffQCZT+G7rXsCynY7ibVpyBrWydPNzeeqgINWX78P5ruqL/rR/11tW21NNRxUx+R
/gIq6QbF/xhfPgCq2dA38qZodxrQCnzwne+cqal55oUXztRE5Sth5Pbtr33t9u0DhgYq7rxebxSJ
Bbmm5OSp/GEFpaIgkXcaoPvxN+JTPYX2jIoMS1KEXhuhDha+93gzGk6sqFycKHYlKC16lyoOztzG
NcpEjKfBpxV4WgHTWN3w9BtvSF+7dAlG2qS/d20B0sV8Ino74T2+i8vCKFCYsXESLZbTArrgdujx
vE6P7HhS1zHGKnlBD8sIUSbkZwxUOCKCiRBpqCZWpVETEimQ4AhH+WBRNYAiXK8Sz9oKMkyRx0od
C0HX0RChg4cAgkKEiDs26RY6yvmjmXlCVXy5NSNyLs7/ExzHQ/I4RJeYHcRyvptWCMzEYOY9Tp1N
wJRGi/5WNwrCHaJKH64AqC4aLJfHEaIxRlpJlUEeR8VARn6CkpzdPTcyw1oeXyXkZR7lyx0LdZvu
iBBCggAHo4to6NDBQkfpsUhTRgGuBUYqHgpvc1ZcC2WQgHrFhY7z0LsY8u0ED9vIBQUqKsiGsODw
yFDUd0adXpca3tluLizdWt2wIsmRGjdn/tD/BaUo4/XhPcklNvOsmJaakpVLqxVBhTuTk5Y80iJz
8cdo75JcRxyv8eIly0+MBp2TFJ4eeO655+6Xbr32+uuvSbd2nT69d+/eFnUL7JN+CTnSzhY15ppq
kgfPsf1FRSvdctWWZkO20dzALSWr9M/ZdG8hJ/B0n5iQnl6UiZsJ0wXcYmLHI5aCVZDdIq0O+d6S
b7e26vC6WTXUO6eo94z8hn2C4SJkMi2q9btTQW9K6HwZuF9tNKqjjcboorq6osK6OvKYzZGc7LDV
4rfa2q6vcL6aEwcXiAm1cxRVgRNVbrXFbRmrdNMKFCTs2bMLT3Zr5Rr1X4kNPiGfydpRNMC9+9sO
Edvl+f9m/Ro5p+HOc3PoLGhxXhgvpfr0ldm9bb6xoCTbkZmhiAhXKsNV6xL2lsYmlmQVO2YJUdoo
nEMdrt+qsfUDnUArYoL8Rlb5FhDmVZ3pLZrTOyS/UTUs13z4j1jNRxlQ9dFQORxQ+VlAtfFE9QfS
qEwex/h4WgxclgCMUrpGfhjpl/0xrjAMdSCGT9IHwJT59L0f0ogs9bkgH9YZhqWhKtEPjUymZSBu
tD9J/cAfmczXBK/GV5PKmLEqxU/nzGlLVe/7ezgsKipMNal4Jf3vJI/TMbA6FPqO8da/EkVdF1CN
+gA956tIwdvotbG+I9P1FQ0Bfb+PHhvr+97lib70nlD0pL6yqwK6vyx7yodAHmNe4n0YZxBDS/Od
P8qUzBGAV+fnoTHQokDvUK17hdavcG1YHZmKHbomVweO+yjM6xl3Ca1zQQly16+daLg6cMxHU97A
+InaGdtV4Zx5GtGsnTxXhJygIn/Fx0He+3tsPxvnx+POrZX1rGfyvK4OzJ1ENzJyLGAqvFxvwnnQ
epNh+opTCg3UKVUn+Cmd6qTS0yjOegzz4y/HxMCdinmeLsskTOnyBOYVhhk3Q2XMF8hTYS/7lnAS
MvzUt5xckA//DMM3sXPaNBa4KcE91dZm/yWfbLB5EpFo7XERnITvs7qpIN9CpfdP4WRDwx31q1Y3
NNxZXw+r6usbVq1qqK/HL8gpVkNCn5m4xBmqSDx12fSVpCLG0JmrSfAnFr+yjY+/1Aa6cHobdzF2
f4mNP1+esHEFbVhnsuFz6fRmlo5FxsyWyAu+fCDbOoO2Uqj2mtba1Nw9vd2nA6LqS4zXTs4beDb3
/oPV6jOpCkEd6vCINk82Qa1H7xgpeXbqZEcovcIqn/RuBserLJqkZAJB0QkVjjUhQqk5XR9BHty1
fvsuQTE3u2hdS+fy1A4+Njw8N1WbkZGkW7dyUUhQnL00J0lqgm8MfbuxdsnqLc/ei+ug8/4dfkX+
yGpO1n9edaJZ7cmZKk9mpNK01Sc4wvKAbOuzf92WaJjRlgIpNb2t/ssTtoaZLdu/YEsm1ozmlDK1
prVIqhmngnw2zzObqVzuP7c6hWAz2p/vR7HpBxE5ZU9CTajx1eTSZqjKCdMphmlKdUNT9EJA8e7X
k8UCzc94XkVe0bpb3IyVNxHpRBTTVt+eQTIFVuAusi10HPuzf4otGmbAHkLyBGL/6nIA9jDDjp8R
20eXGeC/KZMl0AIcHtOLPhvnmY0Ezj6jlSnCZAZ7i/3IMcno/Ek60ktHcI7Vn/10yrneIzR08VAv
l6KROzmYnNLZWcNPp5zrPUjDjraz+XTKK9iuANdrsk451/uQL2Ro6+FxnfLf2D6V1RJn1innegv8
6c7Kis9N0imsFobzoLUw/bTVMMqtSRWxl+gsA6tidvlM4cP77EvxcH8LxHuerkYgXt5lf7xhhhc7
PZ5vLwuE/IFv1QJR/zTOHRn3PMM10iw6FbkIpuxbgTYa/Vc30NC3Jp87Ur2fwyiuM1uVaSpP9CZG
ql/1CYpxjSeXoOBHTEPIWJ99CZZoCMDS4vpOwbpweQJrWF7d6bDk1Q2Ay5XXdjIiud+nCWTM82Mr
Ow3qlIj0x/+N37JOsTEnkL/et71RMIK2fBlgau1rqviomb4YFhUYK1MKY/B0oE95+R4cap8QPPnG
+t+Hm5Jvxm/MqQIlzvhNOvjPAPB/7d7Ylz2Hh7+RpyZ+I0+Nnhr/zQAvcVfIRVqb1LjmgtO3c9kM
qjU1djN9epeEm2IOftVoT3E5/Z6dpO21UTDx6KTK78nJmLEHJwkXBy/BBdY+dpIF0f9LnGrNChsz
94m6kRqmzwpPGLYZY8eGwDBf9sP0H4XB/8t7qkZ5SJ5PVH7PH+vHHz+OGX/6mHCx3j54nTsjP2Mo
/tvPNVdP/1gzcOkQx12DN2n9VDNOhWue5R78HzppCYm242mtiQyxWpOOngb86k2GaT+OVaE+nvQ+
VpVKnvROfW3H8xew53G5FOvY3mi3up30oiV/WcXQYqXBQuL/UtS2o2LjvS9Kq2tdfJ5b9/P+F+9r
Lepe0aEHs/S7IEj8+Yr1G/f+ukXT8uCL+1pb1q1o0XA+vr2GXCyifEth1Tdad3sN+fb/faWJ3AB4
2tWTwWrbQBRFryQnjkOy8aqEQgcaSrKILJsakwhS4iTLOC6GbItkjSMlsmRGisEQ+iP9lkL/oO26
6276Ad22V/K4bptQUrqqh9GceXPnvqcZGcAj4xkMzH+HeK3ZQA0fNZuo4LNmi/rHmivYNF5qXkHH
eK95FZvmU81VPDffaF5D3fyquYa61dC8jkPrneYNPKm8YBajUuPstsxYsIE63mo26fRJswUHXzRX
sGW0Na8gMV5pXsWWWdVcRWg2Na9h2/yguYZtq6Z5HbdWV/MGa/uGY6SYYAaFCJcIkUNgB0Pscmyx
gibaJJ8KgTN4XA+plLjh/IRjhitGFQJGE85sxo8Qs4mfPLNyVqglxymfAZU4TiczFV2GudgZ7oqW
02wLfybOvDyM5I04kdmVp4IoyWxxFMeiVGZCyUyqqQy4v1+Womg+YBFFevQjqcTAS4hdvlrMROim
MZ8OMzplc9HDOfspaWGxMNhbbnNsx3Hc3nnv1C1cC9O9udUfNv2mvCh1GfUpleKXIvrcv4i4PKaU
BzUsdVPGm2XcRofX4GLMTNf0KjQjRmM6+lyxeT1F3y89cSFVFqWJmJfeHxTghmk+TJOpaNqO3Wm5
Y+9apvnIjiO/Zbft9r7j/M0b3T1z8UMruFbMPfacGo8xWdauWL2gavTgz2h5k6JILKJMeCJXXiDH
nroW6ei+7wQPMsfdnf+w8b/+BxXWOcs/QIPNp63NIiRjjfLelsUG951HmOeTg0bDl3Yi88Z4njZY
Hs53e4cLMAAAeNp90NsuFgAAwPHf9/kqHSQ6o0IOnQ9IoghR8VGU6LjWaoSNSI2amFnrghtbzxDm
RslWl63lUGHRutIj1CPkCfpvvxf4C/p/b1YEBEUIWWW1NSKttc56G0TZKNomMWJttsVW22y3w05x
4iXYZbc9EiVJtleKVGnS7bPfAQcdctgRRx1zXIZMWU7IdlKOU3LlOe2MfAXOKlSk2DklSp13wUVl
yoVVqHTJZVWqXXFVjWtq1bnuhptuue2Ou/q9NmhYnyEDPlk2Ysy0L+65b9YDU2bM+eqb736Yt6De
Xz8tWtLglUYPNWnW4pFWbdp1eOyJp7p0eua5F7r16PXBR7/8Nu6t9ya9M+Gzl0YDwZWTfwIRgVCo
pKOtJVRZEw4Hi6v/ATKNQQUAAAAAAAAB//8AAnjaY2BkYGDgA2IJBhBgYmBkYGZYDiRZwDwGAAuR
ANwAAAEAAAAKABwAHgABREZMVAAIAAQAAAAA//8AAAAAAAB42mNgZGBg4GKQY9BhYHRx8wlh4GBg
AYow/P/PAJJhzE4tygOKMUB4QDkmMM0BxH5glewMEkDdKgx6DCYMTgweQHHx/zfB5EagWrX/FxnM
/28B8s3/r2FgZlD5fwkodpkhCCjLCOTNApJB/+cCSXYGMQYpoDn6DOYMVgw2AHPTG0oAAAAAAAAB
AAAAAMZlt8oAAAAA0WESJAAAAADSahJd) format('woff'), url('PierSans-Bold.ttf')  format('truetype'), url('PierSans-Bold.svg#PierSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* style */
body.lock{ overflow:hidden; }
.wrap{ max-width:1020px; width:70%; margin:0 auto; }
.works_content_switch{ position:fixed; max-width:1020px; width:70%; margin:0 auto; }

#header{ position:relative; }
#header_menu{ position:absolute; width:100%; background:rgba(0,0,0,.5); z-index:50; padding-top:20px; opacity:0; visibility:hidden;
    -webkit-transition: all .4s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition:all .4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.open #header_menu{ visibility:visible; opacity:1; }

.search{ width:220px; height:40px; overflow:hidden; position:relative; margin-bottom:20px;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}
.search input{ height:10px; display:block; display:inline-block; vertical-align:middle; margin:0; padding:0; border:none; width:150px; padding:15px; }
.search span{ display:block; width:40px; line-height:40px; cursor:pointer; display:inline-block; vertical-align:middle; background:#d9d9d9; text-align:center;
    -webkit-transition: all .4s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition:all .4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.search span:hover{ background:#999; }
.search span:hover{ background: }
.search span i{ font-size:18px; color:#fff; vertical-align:middle; }
.sort{ margin-bottom:20px; }
.sort_li{ color:#fff; height:20px; padding:10px; background:rgba(255,255,255,.2); line-height:20px; display:inline-block; margin-right:20px; cursor:pointer; 
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}
.sort_li i{ font-size:14px; display:inline-block; vertical-align:middle; margin-right:5px; }
.sort_li span{ display:inline-block; vertical-align:middle; min-width:45px; }
.sort_li em{ display:inline-block; background:rgba(255,255,255,.2); width:20px; height:20px; text-align:center; line-height:20px;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}
.sort_li em i{ margin:0; }

.filter{ margin-bottom:30px; }
.filter dl{ display:inline-block; margin-right:10px; color:#fff; }
.filter dt{ height:40px; line-height:40px; display:block; }
.filter dd{ display:inline-block; margin-right:20px; }
.filter dd i{ display:inline-block; width:20px; height:20px; vertical-align:middle; cursor:pointer; margin-right:5px; overflow:hidden; 
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    background:rgba(255,255,255,.2);
}
.filter dd i b{ display:block; width:8px; height:8px; background:#fff; margin:6px;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    visibility:hidden; opacity:0;
    -webkit-transition: all .4s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition:all .4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.filter dd i.sl b{ opacity:1; visibility:visible; }
.filter dd span{ display:inline-block; vertical-align:middle; }

#viewport{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 99;
}

.navigator{ height:80px; }
.navigator li{ display:inline-block; width:70px; vertical-align:middle; text-align:right; }
.navigator li a{ font-size:14px; }

.navigator li.menu i{ cursor:pointer; }

.navigator li.current a{ color:#000; }
#lists{ display:block; padding-bottom:40px; }
#lists li{ position:relative; width:50%; display:inline-block; vertical-align:top; }
#lists li a{ display:block; }
#lists li .item_infomation{ position:absolute; width:100%; height:100%; top:0; left:0; background:rgba(0,0,0,.7); opacity:0; visibility:hidden;
    -webkit-transition: all .4s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition:all .4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#lists li:hover .item_infomation{ visibility:visible; opacity:1; }

#lists li img{ display:block; width:100%; }
#lists li .item_infomation{ display:block; text-align:center; color:#fff; }
#lists li .item_infomation h2{ font-size:2em; line-height:2em; opacity:0;
    transform:translate3d(0,20px,0);
    -webkit-transform:translate3d(0,20px,0);
    -webkit-transition: all .4s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition:all .4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#lists li .item_infomation h3{ font-size:1.3em; opacity:0;
    transform:translate3d(0,20px,0);
    -webkit-transform:translate3d(0,20px,0);
}
#lists li .item_infomation .table{ width:100%; }

#lists li:hover .item_infomation h2{
    opacity:1;
    -webkit-transition: all .4s cubic-bezier(0.215, 0.61, 0.355, 1) .2s;
    transition:all .4s cubic-bezier(0.215, 0.61, 0.355, 1) .2s;
    transform:translate3d(0,0,0);
    -webkit-transform:translate3d(0,0,0);
}
#lists li:hover .item_infomation h3{
    opacity:1;
    -webkit-transition: all .4s cubic-bezier(0.215, 0.61, 0.355, 1) .4s;
    transition:all .4s cubic-bezier(0.215, 0.61, 0.355, 1) .4s;
    transform:translate3d(0,0,0);
    -webkit-transform:translate3d(0,0,0);
}

#news{ text-align:center; }
#news li{ width:310px; height:340px; position:relative; display:inline-block; background:#f2f2f2; margin-right:20px; margin-bottom:20px; text-align:left; vertical-align:top; }
#news li a{ display:block; width:100%; height:210px; overflow:hidden; }
#news li a img{ display:block; width:100%; }
#news li h3{ display:block; height:20px; line-height:20px; color:#000; overflow:hidden; }
#news li h4{ display:block; height:30px; line-height:30px; overflow:hidden; }
#news li h4 i{ display:inline-block; vertical-align:middle; font-size:14px; margin-right:5px; }
#news li h4 span{ display:inline-block; vertical-align:middle; }
#news li p{ display:block; line-height:20px; }
#news .wrap{ overflow:hidden; }

.item_infomation_img{ position:relative; width:100%; }

.preload{ width:40px; margin:0 auto; }

.works_infomation{  z-index:1; width:100%; }

.works_infomation_wrap{
    z-index:1; width:100%; background:#fff; position:relative;
}

.works_infomation_1{ height:90px; padding-top:20px; }
.works_infomation_1 h3,
.works_infomation_1 h4{ height:45px; line-height:45px; }
.works_infomation_1 h3{ font-size:24px; color:#000; font-family:'PierSans-Bold'; font-weight:700; }
.works_infomation_1 h4{ font-size:14px; color:#7e7e7e; }

.visit_site{ padding-top:20px; }
.visit_site a{ display:block; width:200px; height:50px; text-align:center; line-height:50px; position:relative; }
.visit_site i{ display:inline-block; font-size:15px; vertical-align:middle; margin-right:5px; }
.visit_site span{ display:inline-block; font-size:18px; vertical-align:middle; font-family:'PierSans-Bold'; font-weight:700; }
.visit_site_na{ background:#f2f2f2; color:#7e7e7e; position:absolute; left:0; top:0; width:100%; }
.visit_site_ia{ background:#7e7e7e; color:#fff; position:absolute; left:0; top:0; width:100%;
    -webkit-transition: all .4s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition:all .4s cubic-bezier(0.215, 0.61, 0.355, 1);
    clip: rect(0,0,50px,0);
}
.visit_site a:hover .visit_site_ia{
    clip: rect(0,200px,50px,0);
}
.visit_site a[href="#"]{ cursor:default; }
.visit_site a[href="#"] .visit_site_ia{ clip: rect(0,0,50px,0); }

.works_infomation_2{ line-height:75px; margin-bottom:20px; }
.works_infomation_2 li{ display:inline-block; margin-right:30px; color:#7e7e7e; font-size:12px; height:20px; line-height:20px; }
.view_comment{ cursor:pointer; }
.view_comment i{ font-size:16px; display:inline-block; vertical-align:middle; margin-right:5px; }
.view_comment span{ display:inline-block; vertical-align:middle; height:20px; line-height:20px; }

.works_content{ position:relative; padding-bottom:60px; }
.works_content_img{ margin-bottom:60px; }
.works_content_img img{ display:block; width:100%; }
.works_content_switch_prev{ position:absolute; left:-100px; top:0; width:60px; text-align:right; }
.works_content_switch_next{ position:absolute; right:-100px; top:0; width:60px; text-align:left; }

.works_content_switch a{ color:#999; display:block; width:65px; height:60px; }
.works_content_switch h2{ font-size:40px; font-family:'PierSans-Bold'; font-weight:500; margin-bottom:5px; }
.works_content_switch h3{ font-size:18px; font-family:'PierSans-Bold'; font-weight:700; position:relative; height:20px; line-height:26px; }
.works_content_switch_prev h3{ text-align:right; padding-right:5px;  }
.works_content_switch_next h3{ padding-left:5px; }
.works_content_switch_prev h3 i{ display:block; left:-5px; top:0; width:20px; height:25px; position:absolute;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}
.works_content_switch_next h3 i{ display:block; right:-10px; top:0; width:20px; height:25px; position:absolute;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.works_content_switch_prev h3 i .i1{ width:9px; height:2px; background:#999; display:block; position:absolute; top:0; left:0;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-transition: all .2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition:all .2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform-origin: 0 50%;
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
}

.works_content_switch_next h3 i .i1{ width:9px; height:2px; background:#999; display:block; position:absolute; top:0; right:0;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-transition: all .2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition:all .2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform-origin: 100% 50%;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
}

.works_content_switch_prev h3 i .i2{ width:2px; height:9px; background:#999; display:block; position:absolute; top:0; left:0;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-transition: all .2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition:all .2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
}
.works_content_switch_next h3 i .i2{ width:2px; height:9px; background:#999; display:block; position:absolute; top:0; right:0;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-transition: all .2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition:all .2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
}

.works_content_switch_prev a:hover h3 i .i1{ 
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
}
.works_content_switch_prev a:hover h3 i .i2{ 
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
}

.works_content_switch_next a:hover h3 i .i1{
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
}
.works_content_switch_next a:hover h3 i .i2{
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
}

#commentpage{ position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.7); z-index:100; overflow-x:hidden; overflow-y:auto; }
.commentpage{ width:600px; left:50%; margin-left:-300px; top:30%; position:absolute; padding-bottom:40px; }
.commentpage .pd20{ padding-bottom:40px; margin-bottom:20px; background:#fff; }
.commentreply input{ display:block; border:none; background:#f2f2f2; height:20px; margin:0; padding:10px 15px; margin-bottom:10px; width:240px; color: rgba(0,0,0,.35); }
.commentreply{ margin-bottom:20px; }
.commentreply textarea{
    outline: 0;
    border: none;
    background: #F2F2F2;
    padding: 15px;
    width: 300px;
    height: 130px;
    resize: none;
    color: rgba(0,0,0,.35);
    margin-bottom:10px;
}
.replybtn{ height:40px; width:100%; position:relative; }
.replybtn span{ display:block; height:40px; position:absolute; top:0; right:0; cursor:pointer; background:#f2f2f2; width:80px; line-height:40px; text-align:center; }

.onecomment{ border-bottom:1px solid #f2f2f2; margin-bottom:20px }
.onecomment h2{ display:block; margin-bottom:20px; }
.onecomment h3{ display:block; height:40px; background:#f2f2f2; line-height:40px; color:rgba(51, 51, 51, .3); }
.onecomment h3 span{ display:inline-block; margin-left:10px; }
.onecomment h3 i{
    display:inline-block;
    font-size: 14px;
    vertical-align: middle;
    margin-right: 5px;
}
.onecomment p{ line-height:20px; padding:20px 0; }

.commentreply input::-webkit-input-placeholder,
.commentreply textarea::-webkit-input-placeholder{
	color: rgba(0,0,0,.35);
}

.commentreply input:-moz-placeholder,
.commentreply textarea::-webkit-input-placeholder{
	color: rgba(0,0,0,.35);
}

.commentreply input::-moz-placeholder,
.commentreply textarea::-webkit-input-placeholder{
	color: rgba(0,0,0,.35);
}

.commentreply input:-ms-input-placeholder,
.commentreply textarea::-webkit-input-placeholder{
	color: rgba(0,0,0,.35);
}

.oncommentpage span{ display:inline-block; width:80px; height:30px; text-align:center; line-height:30px; background:#f2f2f2; cursor:pointer; margin-right:10px; color:#999; }
.oncommentpage span.na{ cursor:default; background:#fafafa; color:#d9d9d9; }

.commentpage_close_w{ position:fixed; width:600px; top:30%; left:50%; margin-left:-300px; }
.commentpage_close{ width:50px; height:50px; position:absolute; top:30%; right:-70px; background:#b7b7b7; color:#fff; cursor:pointer;  line-height:50px; text-align:center; }
.commentpage_close i{ display:inline-block; font-size:32px; vertical-align:middle; }

#main{ position:relative; min-height:1000px; }
#main.open:after{ opacity:1; visibility:visible; }
#main:after{ position:absolute; left:0; top:0; width:100%; height:100%; z-index:100; background:#fff; content:' '; opacity:0; visibility:hidden;
    -webkit-transition: all .2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition:all .2s cubic-bezier(0.215, 0.61, 0.355, 1);
}